body {
    min-height: 600px;
    background: linear-gradient(98deg, rgba(123,189,158,1) 16%, rgba(228,187,232,1) 67%);
    background-position: center bottom;
}
  
.container {
    text-align: center;
    padding: 20px;
    height: 100vh;
}
  
.container__title {
    color: #fcf6f6;
    margin: 0 0 5px;
}
  
.container__subtitle {
    color: #fcf6f6;
    margin-top: 18px;
}

.container__text {

}

.resultado {
  color: #520909;
  text-align: center;
  margin-top: 16px;
}

  
  