body {
    font-family: "Roboto Mono", monospace;
    min-height: 600px;
    background-color: #000000;
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
}
  
.container {
    text-align: center;
    padding: 20px;
    height: 100vh;
}
  
.container__title {
    color: #ffffff;
    margin: 0 0 5px;
}
  
.container__subtitle {
    color: #ffffff;
    margin-top: 18px;
}

.container__text {

}

.resultado {
  color: #520909;
  text-align: center;
  margin-top: 16px;
}

  
  