:root {
    --cor-fundo:  linear-gradient(98deg, rgba(128,123,189,1) 21%, rgba(187,232,223,1) 70%);
    --cor-principal: #fcf6f6;
    --cinza: #3d3d3d;
    --roxo: #8d8dd1;
    --branco: #fff;
}

body {
    min-height: 600px;
    background: var(--cor-fundo);
    background-position: center bottom;
}
  
.container {
    text-align: center;
    padding: 20px;
    height: 100vh;
}

.container__title, .container__subtitle, .container__text {
    color: var(--cor-principal);
}
  
.container__title {
    margin: 5rem 0 5px;
    font-size: 38px;
}
  
.container__subtitle {
    margin-top: 18px;
    font-size: 22px;
}

.container__text {
    font-size: 20px;
}

.input {
    border-radius: 8px;
    border: none;
    padding: 5px 15px;
}

.button {
    margin-top: 10px;
    padding: 8px 15px;
    border-radius: 10px;
    background-color: var(--roxo);
    color: var(--branco);
    font-weight: 600;
    border: none;
}

.resultado {
  color: var(--cinza);
  text-align: center;
  margin-top: 16px;
}

  
  